<% if logged_in? %>
<%= @error %>
  <form action='/tweets' method="post">
    Create Your Tweet:
    <input type="text" name="content" placeholder="Type your tweet here..."><br>

    <input type="submit" name="submit" id="submit" value="Send Tweet">
  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
