<!-- # <% if Helpers.logged_in?(session) %> -->
<!-- # <%= @error %> -->
  <form action='/tweets' method="post">
    Content:
    <input id="content" type="text" name="content" required><br>
    Create Your Tweet:

    <input type="submit" name="submit" id="submit">
  </form>

  <!-- <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
      <a href="/login">Click here to log in</a>
  <% end %> -->
