<h1>Log In:</h1>

<form action="/login" method="POST">
  <label>Username: </label>
  <input id="username" type="text" name="username">
  <label>Password: </label>
  <input id="password" type="text" name="password">
  <input name="submit" value="Log In" type="submit">
</form>

