<h2>Create New Account: </h2> 
<form method="post" action="/signup">
  <p><h3><label for="username">Choose a Username:</label></h3>
  <input type="text" name="username" id="username" placeholder="MyCoolUsername">
  <p><h3><label for="email">Your Email:</label></h3>
  <input type="email" name="email" id="email" placeholder="email@email.com">
  <p><h3><label for="password">Choose a Unique Password:</label></h3>
  <input type="password" name="password" id="password">
  <p><input type="submit" value="Create Account">
<form> 
