<h1>New Users: Sign Up Below:</h1>

<form action="/signup" method="POST"> 
  <label for="usernamename">Username: </label>
<p><input type="text" id="username" name="username"></p>
  <label for="email">Email: </label>
<p><input type="text" id="email" name="email"></p>
  <label for="password">Password: </label>
<p><input type="text" id="password" name="password"></p>
<input type="submit" value="Sign Up">
</form>
