
<nav>
  <% if logged_in? %>
    <a href="/tweets/new"> Tweet </a>
    <a href="/logout"> Log Out </a>
    <p>Hello, <%=current_user.username %></p>
  <% else %>
    <br>
    <a href="/login">SIGN IN</a><br><br>
    <a href="/signup">SIGN UP</a><br><br>
  <%end %>
</nav>
